<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeanswest.onlinelibrary.mapper.BookMapper">

	<select id="selectPageVo" resultType="com.jeanswest.onlinelibrary.entity.BookDTO">
          SELECT
			book.id,
			book.book_name AS bookName,
			book.category,
			book.publishing_house AS publishingHouse,
			book.download_link AS downloadLink,
			book.download_password AS downloadPassword,
			book.hold_time AS holdTime,
			book.click_rate AS clickRate,
			book.download_count AS downloadCount,
			book.author,
			book.`status`,
			book.`describe`
		FROM book
		<if test="bookName != null">
            WHERE book_name LIKE "%"#{bookName}"%"
        </if>
	</select>

    <select id="selectBooks" resultType="com.jeanswest.onlinelibrary.entity.BookDTO">
       SELECT
			book.id,
			book.book_name AS bookName,
			book.category,
			book.publishing_house AS publishingHouse,
			book.download_link AS downloadLink,
			book.download_password AS downloadPassword,
			book.hold_time AS holdTime,
			book.click_rate AS clickRate,
			book.download_count AS downloadCount,
			book.author,
			book.`status`,
			book.`describe`
		FROM book
    </select>

    <select id="selectBookById" resultType="com.jeanswest.onlinelibrary.entity.BookDTO">
		SELECT
			book.id,
			book.book_name AS bookName,
			book.category,
			book.publishing_house AS publishingHouse,
			book.download_link AS downloadLink,
			book.download_password AS downloadPassword,
			book.hold_time AS holdTime,
			book.click_rate AS clickRate,
			book.download_count AS downloadCount,
			book.author,
			book.`status`,
			book.`describe`
		FROM book where id = #{id}
    </select>

    <select id="selectBookByAuthor" resultType="com.jeanswest.onlinelibrary.entity.BookDTO">
       SELECT
			book.id,
			book.book_name AS bookName,
			book.category,
			book.publishing_house AS publishingHouse,
			book.download_link AS downloadLink,
			book.download_password AS downloadPassword,
			book.hold_time AS holdTime,
			book.click_rate AS clickRate,
			book.download_count AS downloadCount,
			book.author,
			book.`status`,
			book.`describe`
		FROM book  where author LIKE "%"#{author}"%"
    </select>

    <select id="selectBookByCategory" resultType="com.jeanswest.onlinelibrary.entity.BookDTO">
       SELECT
			book.id,
			book.book_name AS bookName,
			book.category,
			book.publishing_house AS publishingHouse,
			book.download_link AS downloadLink,
			book.download_password AS downloadPassword,
			book.hold_time AS holdTime,
			book.click_rate AS clickRate,
			book.download_count AS downloadCount,
			book.author,
			book.`status`,
			book.`describe`
		FROM book  book where category LIKE "%"#{category}"%"
    </select>

    <select id="selectBookByName" resultType="com.jeanswest.onlinelibrary.entity.BookDTO">
        SELECT
			book.id,
			book.book_name AS bookName,
			book.category,
			book.publishing_house AS publishingHouse,
			book.download_link AS downloadLink,
			book.download_password AS downloadPassword,
			book.hold_time AS holdTime,
			book.click_rate AS clickRate,
			book.download_count AS downloadCount,
			book.author,
			book.`status`,
			book.`describe`
		FROM book  where book_name  LIKE "%"#{bookName}"%"
    </select>

    <insert id="insertBook" parameterType="com.jeanswest.onlinelibrary.entity.BookDTO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO book(
		book.book_name,
		book.category,
		book.publishing_house,
		book.download_link,
		book.download_password,
		book.hold_time,
		book.click_rate,
		book.download_count,
		book.author,
		book.`status`,
		book.`describe`)
	VALUES(
		#{bookName},
		#{category},
		#{publishingHouse},
		#{downloadLink},
		#{downloadPassword},
		#{holdTime},
		#{clickRate},
		#{downloadCount},
		#{author},
		#{status},
		#{describe}
	)
    </insert>

    <update id="updateBookById" parameterType="com.jeanswest.onlinelibrary.entity.BookDTO" useGeneratedKeys="true"
            keyProperty="id">
        UPDATE book
		SET book.book_name	= #{bookName},
		 book.category= #{category},
		 book.publishing_house= #{publishingHouse},
		 book.download_link	= #{downloadLink},
		 book.download_password	= #{downloadPassword},
		 book.hold_time	= #{holdTime},
		 book.click_rate = #{clickRate},
		 book.download_count= #{downloadCount},
		 book.author	= #{author},
		 book.`status`= #{status},
		 book.`describe`= #{describe}
	    WHERE id = #{id}
    </update>

    <delete id="deleteBookById" parameterType="java.lang.Integer">
        DELETE FROM book WHERE id = #{id}
    </delete>

</mapper>