<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeanswest.onlinelibrary.mapper.DownloadRecordMapper">


	<select id="getDownload" parameterType="integer" resultType="com.jeanswest.onlinelibrary.entity.DemoDTO">
		SELECT d.id orderNumber,b.book_name,d.save_date downloadDate
		FROM download_record d
			LEFT JOIN user u
			ON u.id = d.user_fk
			LEFT JOIN book b
			ON b.id = d.book_fk
		WHERE d.user_fk = #{userId}
		ORDER BY downloadDate DESC
	</select>
</mapper>
