<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeanswest.onlinelibrary.mapper.UserMapper">

	<resultMap id="userBorrowBooks" type="com.jeanswest.onlinelibrary.entity.UserDTO">
		<id property="id" column="id"></id>
		<result property="username" column="username"></result>
		<!-- 配置下载订单 -->
		<collection property="downloadRecords" javaType="ArrayList" ofType="com.jeanswest.onlinelibrary.entity.DownloadRecordDTO">
			<id column="did" property="did"></id>
			<result column="book_Fk" property="bookFk"></result>
			<result column="save_Date" property="saveDate"></result>
		</collection>
	</resultMap>

	<select id="findAll" resultMap="userBorrowBooks">
		SELECT *
		FROM user u
			LEFT OUTER JOIN download_record d
			ON u.id = d.user_fk WHERE u.username = '小白'
	</select>

</mapper>